<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7jytg7MewDIY3Li1uCeglQm8zpzCHziU</string>
	<key>GCM_SENDER_ID</key>
	<string>133401152900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmacy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pharmacy-app-93a9a</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacy-app-93a9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133401152900:ios:e4b6e090ec005167c1e1d1</string>
</dict>
</plist>